@charset "utf-8";
/* CSS Document */
body {
	background: linear-gradient(to bottom,#ff5c5c 0%, #00cc00 40%,#ff5c5c 100%);;
}

td { align:center;
text-align:center;

	
	}
h2 {
font-family: Verdana;
color: yellow;
}

table { 
	align-content:center;
	border: none;
	width:100%;
	padding:5px;
	
}

h1{font:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-weight:bold;
	text-align:center;
}

h3{font:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-weight:bold;
	text-align:center;}
	